In [16]:
import pandas as pd
import numpy as np
import requests

In [49]:
data = pd.read_csv('mart2.csv')
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [55]:
aparts = data[['aparts_dds.id', 'aparts_dds.address']].sample(10)
mart2 = pd.DataFrame(columns=['id', 'places'])

In [14]:
mart2 = mart2.append({'id': 1, 'places': 20}, ignore_index=True)

/tmp/ipykernel_40772/1319188030.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': 1, 'places': 20}, ignore_index=True)

In [56]:
endpoint = "mapbox.places"
TOKEN_MAPBOX = "pk.eyJ1IjoiZnJpbG9nIiwiYSI6ImNsZnh6N3VtbTByOW8zZ28wd2xueDdhNzUifQ.kSwmGsjr-gfUM9P9Xoz7rA"
TOKEN_2GIS = "ruwrej0715"

In [57]:
for value in aparts.values:
    search_text = str(value[1])
    url = f"https://api.mapbox.com/geocoding/v5/{endpoint}/{search_text}.json?access_token={TOKEN_MAPBOX}"

    response = requests.request("GET", url)
    coords = response.json()['features'][0]['center']
    coords = ','.join(map(str, coords))
    
    point = coords
    rubrics = "159,173" #159 - бары, 173 - ночные клубы
    url = f"https://catalog.api.2gis.com/3.0/items?rubric_id={rubrics}&point={point}&radius=200&key={TOKEN_2GIS}"

    response = requests.request("GET", url)
    try:
        places = response.json()['result']['total']
    except:
        places = 0
    
    mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)

    #print(response.json())

/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)
/tmp/ipykernel_40772/4245794965.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mart2 = mart2.append({'id': value[0], 'places': places}, ignore_index=True)

In [58]:
aparts

       aparts_dds.id                                 aparts_dds.address
19322          19322          Москва ЮЗАО р-н Зюзино Чонгарский бул. 23
24415          24415               Москва САО р-н Сокол ул. Алабяна 3К1
13975          13975    Москва ЮАО р-н Даниловский просп. Лихачева 12к1
16188          16188      Москва ЗАО р-н Раменки ул. Лобачевского 120к1
23930          23930      Москва САО р-н Хорошевский ул. Викторенко 4К1
1700            1700  Москва ЮАО р-н Чертаново Северное Сумской прое...
23261          23261  Москва ЦАО р-н Тверской 1-я Тверская-Ямская ул...
15572          15572  Москва СЗАО р-н Хорошево-Мневники наб. Новиков...
20538          20538  Москва СВАО р-н Останкинский ул. Академика Кор...
25978          25978  Москва ЦАО р-н Пресненский Шмитовский проезд 3...

In [59]:
mart2

      id places
0  19322      0
1  24415      0
2  13975      2
3  16188      0
4  23930      1
5   1700      0
6  23261     10
7  15572      0
8  20538      0
9  25978      0